.file-list {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.file-list-header {
  background-color: var(--bg-color);
  color: #fff;
    
  div {
    padding: 5px;
    text-align: center;
  }
}
.file-list-header,
.file-list-item {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  margin: 5px;

  .file-name {
    width: 40%;
    text-align: left;
  }
  .file-size {
    width: 20%;
  }
  .file-modified {
    width: 20%;
  }
  .file-delete-header {
    width: 15%;
    min-width: 100px;
  }
  .delete-file {
    height: 30px;
    width: 15%;
    min-width: 100px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    background: var(--bg-secondary-color);
    color: var(--secondary-color);
    &:hover {
      background-color: var(--bg-color);
    }
  }
}

@media screen and (max-width: 990px) {
    .file-list-header {
        display: none;
    }
    .file-list-item {
        flex-direction: column;

        .file-name {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;

            .fileColBody {
                min-width: 180px;
                word-wrap: break-word;
            }
        }
        .file-size {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }
        .file-modified {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }
        .file-delete {
            width: 100%;
            min-width: 100px;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }
    }
}
