.files-container {
  display: flex;
  flex-direction: row;

  .files-settings {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }
  .files-section {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 600px) {
    .files-container {
        flex-direction: column;
    
        .files-section {
            width: 100%;
        }
    }
}
