.file-list {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.file-list-header {
  background-color: var(--bg-color);
  color: #fff;

  div {
    padding: 5px;
    text-align: center;
  }
}
.file-list-header,
.file-list-item {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  margin: 5px;

  .file-checkbox {
    width: 25px;
    margin-right: 5px;

    .file-checkbox-input {
      width: 15px;
      height: 20px;
    }
  }
  .file-name {
    width: 45%;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .file-size,
  .file-modified {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .file-delete-header,
  .file-button {
    width: 15%;
    min-width: 100px;
  }
  .file-col-head {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .file-list-header {
    display: none;
  }
  .file-list-item {
    flex-direction: column;

    .file-name,
    .file-size,
    .file-modified {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 0;

      .file-col-head {
        width: 30%;
        text-align: left;
        display: block;
        font-weight: 700;
      }
      .file-col-body {
        text-align: left;
        word-wrap: break-word;
        margin-left: 5px;
      }
    }
    .file-delete {
      width: 100%;
      min-width: 100px;
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  }
}
.confirm-box {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: -1px 1px 8px 0px #4ecdc4;
}
