.file-list {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.file-list-header {
  background-color: var(--bg-color);
  color: #fff;
  
  div {
    padding: 5px;
    text-align: center;
  }
}
.file-list-header,
.file-list-item {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  margin: 5px;

  .file-name {
    width: 40%;
    text-align: left;
  }
  .file-size {
    width: 20%;
  }
  .file-modified {
    width: 20%;
  }
  .file-delete-header {
    width: 15%;
    min-width: 100px;
  }
  .delete-file {
    height: 30px;
    width: 15%;
    min-width: 100px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    background: var(--bg-secondary-color);
    color: var(--secondary-color);
    &:hover {
      background-color: var(--bg-color);
    }
  }
}
