.job-list {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.job-list-header {
  background-color: var(--bg-color);
  color: #fff;

  div {
    padding: 5px;
    text-align: center;
  }
}
.job-list-header,
.job-list-item {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  margin: 5px;

  .job-id,
  .job-status,
  .job-progress,
  .job-created-at,
  .job-completed-at {
    width: 15%;
  }
  .job-col-head {
    display: none;
  }
  .job-download-header {
    width: 10%;
    min-width: 100px;
  }
  .job-download-button {
    height: 30px;
    width: 15%;
    min-width: 100px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    background: var(--bg-secondary-color);
    color: var(--secondary-color);
    &:hover {
      background-color: var(--bg-color);
    }
    &:disabled {
      background-color: var(--bg-disabled-color);
      color: var(--disable-color);
    }
  }
}

@media screen and (max-width: 990px) {
  .job-list-header {
    display: none;
  }
  .job-list-item {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    .job-id,
    .job-status,
    .job-progress,
    .job-completed-at,
    .job-created-at {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding: 5px 0;

      .job-col-head {
        width: 30%;
        text-align: left;
        display: block;
      }
      .job-col-body {
        text-align: left;
        word-wrap: break-word;
        margin-left: 5px;
      }
    }
    .job-download {
      width: 100%;
      min-width: 100px;
      display: flex;
      justify-content: center;
      padding: 5px 0;

      .job-col-head {
        display: none;
      }
    }
  }
}
