.app-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  min-height: 100vh;
  min-height: 100svh;
  background-color: #e2e5e6;
  @media screen and (max-width: 600px) {
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'header header'
      'sidebar sidebar'
      'main main'
      'footer footer';
  }
}

.main {
  grid-area: main;
}
.main-full {
  grid-column: 1/-1;
}
@media screen and (max-width: 600px) {
}
