.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90%;
  justify-content: space-between;
  margin-top: 20px;
}
.projects-space {
  display: flex;
  flex-direction: row;
  flex: 0 0 calc(33.33% - 30px);
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.project-settings {
  margin-top: auto;
  align-self: center;
  justify-self: flex-end;
  margin-bottom: 0;
  min-width: 300px;
}

.projects-settings input {
  width: 100px;
}
