.menu {
  grid-area: sidebar;
  background-color: #f4e1e1;
  border-radius: 10px;
}
.menu.menu-collapsed {
  display: none;
}
.menu-container {
  text-align: left;
}
.menu-list {
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  padding-inline-start: 5px;
  margin-block-start: 5px;

  li {
    cursor: pointer;
  }
}
